/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background: none;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    overflow-y: auto;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

#root {
    width: 100%;
    min-height: 100vh;
}